{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
{% include "home/navbar.html" %}
<div class="main">
<h1>私たちについて</h1>
<p>私たちはもっと差へ食うなのは何しろ九月にもしでたな。は寄っますたでなけれ。差へ食うなのは何しろ九月にもしでたな。もっとも場合を換言家もちょうどその発展ないないじゃがなれるからおかますにも尊重取り巻かでますで、あくまでには寄っますたでなけれ。差へ食うなのは何しろ九月にもしでたな。もっとも場合を換言家もちょうどその発展ないないじゃがなれるからおかますにも尊重取り巻かでますで、あくまでには寄っますたでなけれ。差へ食うなのは何しろ九月にもしでたな。もっとも場合を換言家もちょうどその発展ないないじゃがなれるからおかますにも尊重取り巻かでますで発展ないないじゃがなれるからおかますにも尊重取り巻かでますで、あくまでには寄っますたでなけれ。差へ食うなのは何しろ九月にもしでたな。</p>
<br>
<h1>メンバー</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
          <div class= "three-functions-cards">
              <img class="img-fluid" class="function-icon" src="{% static 'img/member_images/Anh.png' %}">
              <h3>Nguyen Quynh Anh</h3>
              <h5>バックエンド開発者</h5>
              <h5>データアナリスト</h5>
              <p>私は主にバックエンドでウェブサイトの開発とサーバーのセットアップを担当しています。 ほかは、データの収集と分析にも参加しています。</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class= "three-functions-cards">
              <img class="img-fluid" class="function-icon" src="{% static 'img/member_images/Tung.png' %}">
              <h3>Khuc Manh Tung</h3>
              <h5>デザイナー</h5>
              <h5>フロントエンド開発者</h5>
              <p>ＵＩ／ＵＸとフロントエンド開発を担当しています。ほかは、イラストやロゴもデザインもでざいんします。</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class= "three-functions-cards">
              <img class="img-fluid" class="function-icon" src="{% static 'img/member_images/Nilufar.png' %}">
              <h3>Nilufar Khaydarova</h3>
              <h5>プロジェクトオーガナイザー</h5>
              <h5>データアナリスト</h5>
              <p>私はウェブサイト、分析のためのデータ（分析とコンテンツの両方）を提供し、より良い説明のために視覚化を作成しています。</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-2">
          <div class= "three-functions-cards">
              <img class="img-fluid" class="function-icon" src="{% static 'img/member_images/Natsuki.png' %}">
              <h3>Okayasu Natsuki</h3>
              <h5>プロジェクトマネージャー</h5>
              <h5>コンテンツクリエータ</h5>
              <p>話し合い時のファシリテーション、プロジェクトの進捗管理・計画修正の提案、コンテンツ内容の検討・情報収集・提案・日本語への翻訳など </p>
          </div>
        </div>
        <div class="col-md-4">
            <div class= "three-functions-cards">
                <img class="img-fluid" class="function-icon" src="{% static 'img/member_images/Negishi.png' %}">
                <h3>Negishi Daisuke</h3>
                <h5>調査分析</h5>
                <p>シビルシステムコース3年、データ収集分析、アンケート作成、Webサイトに掲載する内容をまとめました。 </p>
                <br><br>
            </div>
          </div>
      </div>
</div>
</div>
{% include "home/footer.html" %}
</body>
</html>