{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Health App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
{% include "home/navbar.html" %}
<div class="container-fluid">
    <div class="row" id="banner">
        <div class="col-lg-6" id="banner-introduction-text">
            <h3>自分の<span style="color:#ff9898;">健康</span>、どれまで詳しいの？</h3><br>
            <p>もっとも場合を換言家もちょうどその発展ないないじゃがなれるからおかますにも尊重取り巻かでますで、あくまでには寄っますたでなけれ。差へ食うなのは何しろ九月にもしでたな。</p>
            <br>
            <button type="button" class="btn btn-info btn-lg">About Us</button>
        </div>
        <div class="col-lg-6">
            <img id="banner-mockup-image" class="img-fluid" src="{% static 'img/banner_mockup.png' %}" alt="Mockup Image">
        </div>

    </div>
    <div class="container-fluid">
        <div class="col-xs-12"><h3 style="text-align: center; font-size: 40px;">自分の<span style="color:#ff9898;">健康</span>、どれまで詳しいの？</h3></div>
        <div class="row" id="three-functions-cards">
          <div class="col-md-4">
            <div class="card"><a href="{% url 'healthbook' %}">Health Books</a></div>
          </div>
          <div class="col-md-4">
              <div class="card"><a href="{% url 'visualization' %}">Visualization</a></div>
          </div>
          <div class="col-md-4">
              <div class="card"><a href="{% url 'login' %}">Health Tracker</a></div>
          </div>
        </div>
    </div>    
    </div>
</body>

</html>